# Cache and user settings
.cache/**
.vs/**
.vscode/**
.VSCodeCounter/**

# Configuration
CMakeSettings.json

# Build
out/**
build/**

# Latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.pdf
*.toc
*.auxlock
*-figure*.md5

# Python cache
__pycache__